@model IEnumerable<Eshop_HoangAnhHuy.Models.Account>

@{
    ViewData["Title"] = "Index";
}

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">

        @*<div style="float: right;"><a asp-area="Admin" asp-controller="Products" asp-action="Create">Add Product</a></div>*@
    </div>

    <div class="page-content">

        <div class="page-header">
            <h1>
                Accounts
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    All
                </small>
            </h1>
        </div><!-- /.page-header -->

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-xs-12">
                        <table id="simple-table" class="table  table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center">
                                        <label class="pos-rel">
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </th>
                                    <th class="detail-col">Details</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                @{
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="center">
                                                <label class="pos-rel">
                                                    <input type="checkbox" class="ace" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </td>

                                            <td class="center">
                                                <div class="action-buttons">
                                                    <a href="#" class="green bigger-140 show-details-btn" title="Show Details">
                                                        <i class="ace-icon fa fa-angle-double-down"></i>
                                                        <span class="sr-only">Details</span>
                                                    </a>
                                                </div>
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Username)
                                            </td>
                                            <td> @Html.DisplayFor(modelItem => item.Email)</td>

                                            <td>
                                                <div class="hidden-sm hidden-xs btn-group">

                                                    <button class="btn btn-xs btn-info">
                                                        <a asp-action="Edit" asp-route-id="@item.Id">
                                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                        </a>
                                                    </button>
                                                    <button class="btn btn-xs btn-danger" onClick="DeleteProduct(@item.Id)">
                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                    </button>

                                                </div>

                                                <div class="hidden-md hidden-lg">
                                                    <div class="inline pos-rel">
                                                        <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                            <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                                        </button>

                                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

                                                            <li>
                                                                <a asp-action="Edit" asp-route-id="@item.Id" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                                    <span class="green">
                                                                        <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                                    </span>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="" onClick="DeleteProduct(@item.Id)" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                                    <span class="red">
                                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr class="detail-row">
                                            <td colspan="8">
                                                <div class="table-detail">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-2">
                                                            <div class="text-center">
                                                                <img height="200" class="thumbnail inline no-margin-bottom" alt="Domain Owner's Avatar" src="/images/avatar/@item.Avatar" />
                                                                <br />
                                                            </div>
                                                        </div>

                                                        <div class="col-xs-12 col-sm-5">
                                                            <div class="space visible-xs"></div>

                                                            <div class="profile-user-info profile-user-info-striped">
                                                                <div class="profile-info-row">
                                                                    <div class="profile-info-name"> Username </div>

                                                                    <div class="profile-info-value">
                                                                        <span>@Html.DisplayFor(modelItem => item.Username)</span>
                                                                    </div>
                                                                </div>
                                                                <div class="profile-info-row">
                                                                    <div class="profile-info-name"> Email </div>

                                                                    <div class="profile-info-value">
                                                                        <span>@Html.DisplayFor(modelItem => item.Email)</span>
                                                                    </div>
                                                                </div>
                                                                <div class="profile-info-row">
                                                                    <div class="profile-info-name"> Phone </div>

                                                                    <div class="profile-info-value">
                                                                        <span>@Html.DisplayFor(modelItem => item.Phone)</span>
                                                                    </div>
                                                                </div>

                                                                <div class="profile-info-row">
                                                                    <div class="profile-info-name"> Full name </div>
                                                                    <div class="profile-info-value">
                                                                        <span>@Html.DisplayFor(modelItem => item.FullName)</span>

                                                                    </div>
                                                                </div>

                                                                <div class="profile-info-row">
                                                                    <div class="profile-info-name"> Invoice </div>

                                                                    <div class="profile-info-value">
                                                                        <span>@Html.DisplayFor(modelItem => item.Invoices.Count)</span>
                                                                    </div>
                                                                </div>

                                                                <div class="profile-info-row">
                                                                    <div class="profile-info-name"> Is Admin </div>

                                                                    <div class="profile-info-value">
                                                                        <span>@Html.DisplayFor(modelItem => item.IsAdmin)</span>
                                                                    </div>
                                                                </div>
                                                                <div class="profile-info-row">
                                                                    <div class="profile-info-name"> Availabe </div>

                                                                    <div class="profile-info-value">
                                                                        <span>@Html.DisplayFor(modelItem => item.Status)</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        @*<div class="col-xs-12 col-sm-5">
                                                            <div class="space visible-xs"></div>
                                                            <h4 class="header blue lighter less-margin">Description</h4>

                                                            <div class="space-6"></div>
                                                            <p>@Html.DisplayFor(modelItem => item.);</p>
                                                        </div>*@
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div><!-- /.span -->
                </div><!-- /.row -->
                <!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div>


